{%extends 'base.html'%}
{%load static%}

{% block head-css-file%}
<link rel="stylesheet" href="{% static 'css/style2.css'%}" />
{%endblock%}
{%block slogan%}
{%endblock%}

{%block content%}
<section class="login-page">
<div>
    <h2>Dane użytkownika:</h2>
    <ul class="help--slides-items">
        <div id="profil" class="title">
            <p><b>Imię:</b> {{user.name}}</p>
            <p><b>Nazwisko:</b> {{user.last_name}}</p>
            <p><b>Email:</b> {{user.email}}</p>
        </div>
    </ul>
</div>
</section>
<section class="login-page">
    <div>
        <h1>Przekazane dary:</h1>
        <table id="profil-donation" class="table">
            <thead>
                <tr>
                    <td>Ile worków</td>
                    <td>Kategoria darów</td>
                    <td>Obdarowana organizacja</td>
                    <td>Data odbioru daru</td>
                    <td> Czy dar został już odebrany</td>
                    <td>potwierdź</td>

                </tr>
            </thead>
            <tbody>
                {%for donation in donations%}
                <tr data-donation="{{donation.is_taken}}">

                    <td>{{donation.quantity}}</td>
                    <td>{%for category in donation.categories.all%}
                        <ul>{{category.name}}</ul>
                        {%endfor%}</td>
                    <td>{{donation.institution}}</td>
                    <td>{{donation.pick_up_date| date:'Y-m-d'}}</td>
                    <td>{{donation.is_taken|yesno:"TAK,NIE"}}</td>
                    <td>
                        <form method="post" action="{%url 'donation-pick_up'%}">
                        {%csrf_token%}

                        <button type="submit" value="{{donation.pk}}" name="confirm">potwierdź odbiór</button>
                        </form>
                    </td>

                </tr>
                {%endfor%}
            </tbody>
            {%if message%}
            {{message}}
            {%endif%}
            {%if ctx%}
            {{ctx}}
            {%endif%}

        </table>
    </div>
</section>

{%endblock%}