{% extends 'base.html'%}

{%load static%}

{% block head-css-file%}
<link rel="stylesheet" href="{% static 'css/style2.css'%}" />
{%endblock%}

{%block slogan%}
{%endblock%}

{%block content%}
<section class="login-page">
    <h2>Zmień hasło:</h2>
    <form method="post">
        {%csrf_token%}
        <div class="form-group">
            <label for="{{form.old_password.label}}">Stare hasło:</label>
        {{form.old_password}}
        </div>
        <div class="form-group">
            <label for="{{form.new_password1.label}}">Nowe hasło:</label>
            {{form.new_password1}}
        </div>
        <div class="form-group">
            <label for="{{form.new_password2.label}}">Powtórz hasło:</label>
            {{form.new_password2}}
        </div>

          <button class="btn" type="submit">Zmień hasło</button>
    </form>
</section>

<section class="login-page">
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
</section>
{%endblock%}