{%extends 'base.html'%}

{%load static%}

{% block head-css-file%}
<link rel="stylesheet" href="{% static 'css/style2.css'%}" />
{%endblock%}
{%block slogan%}
{%endblock%}

{%block content%}
<section class="login-page">
    <h2>Zaktualizuj swoje dane:</h2>
<form method="post">
    {%csrf_token%}
    <div class="form-group">
        <table>
            <tr>
                <td><label>{{form.name.label}}</label></td>
                <td>{{form.name}}</td>
            </tr>
            <tr>
                <td><label>{{form.last_name.label}}</label></td>
                <td>{{form.last_name}}</td>
            </tr>
            <tr>
                <td><label>{{form.email.label}}</label></td>
                <td>{{form.email}}</td>
            </tr>
        </table>
    </div>
    <div class="form-group form-group--buttons">
    <button id="user_update" class="btn" type="submit">Zapisz zmiany</button>
    <button class="btn"><a href="{% url 'password'%}">Zmień hasło</a></button>
    </div>
</form>

</section>

{%endblock%}